@using Microsoft.AspNetCore.Identity
@using GenAITech
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Logged as @User.Identity?.Name.</p>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="GenAIs" asp-action="Create">
                Click here to add a new generative AI website.
            </a>
        </li>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

